# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Environment files
.env
.env.*

# Editor files
.vscode/

# OS files
.DS_Store
Thumbs.db

# Auto detect text files and perform LF normalization
* text=auto
